/logs

###> symfony/framework-bundle ###
/symfony_folder/.env.local
/symfony_folder/.env.local.php
/symfony_folder/.env.*.local
/symfony_folder/config/secrets/prod/prod.decrypt.private.php
/symfony_folder/public/bundles/
/symfony_folder/var/
/symfony_folder/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/symfony_folder/.phpunit
/symfony_folder/.phpunit.result.cache
/symfony_folder/phpunit.xml
###< symfony/phpunit-bridge ###
