/logs

###> symfony/framework-bundle ###
/repository-folder/.env.local
/repository-folder/.env.local.php
/repository-folder/.env.*.local
/repository-folder/config/secrets/prod/prod.decrypt.private.php
/repository-folder/public/bundles/
/repository-folder/var/
/repository-folder/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/repository-folder/.phpunit
/repository-folder/.phpunit.result.cache
/repository-folder/phpunit.xml
###< symfony/phpunit-bridge ###
